@import "../../theme/variables.scss";

.actionsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 1rem;

  @media screen and (min-width: $screen-sm) {
  }
}
