@import "../../theme/variables.scss";

.boxShadow {
  box-shadow: 0 0.25rem 0.75rem rgba(black, 0.05);
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.columnsWrapper {
  display: flex;
  flex-flow: column;
  gap: calc($grid / 2);

  @media screen and (min-width: $screen-sm) {
    display: grid;
    grid-auto-columns: 290px;
    grid-auto-flow: column;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    flex: 1 1 auto;
    gap: $grid;
  }
}
