@import "./theme/variables";

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color-light;
  font-family: "Inter", sans-serif;
  height: calc(100vh - 1rem);
}

hr {
  border: 0;
  border-top: 1px solid $divider-light;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0.5rem;

  @media screen and (min-width: 768px) {
    padding: 1rem;
  }

  .header {
    display: block;
    text-decoration: none;
    color: inherit;
    overflow: auto;
    margin: 1rem 0;

    transition: padding 0.2s ease-in-out;

    .logo {
      display: inline-block;
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0;
    }
  }
}
